COMPOSE_PROJECT_NAME=aiops-bigdata

NATS_CLIENT_PORT=4222
NATS_HTTP_PORT=8222
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
GRAFANA_PORT=3000
ML_API_PORT=8000

NATS_URL=nats://nats:4222
NATS_SUBJECT=logs.raw
ML_API_URL=http://127.0.0.1:8000
CLICKHOUSE_URL=http://127.0.0.1:8123

GENERATOR_BATCH_SIZE=5
GENERATOR_PUBLISH_INTERVAL_SECONDS=3
GENERATOR_SEED=7

STREAM_BATCH_SIZE=5
STREAM_POLL_TIMEOUT_SECONDS=3
STREAM_POLL_INTERVAL_SECONDS=10
STREAM_FALLBACK_OUTPUT_PATH=/app/output/processed_rows.mock.jsonl
ML_API_TIMEOUT_SECONDS=2

BOT_WINDOW_SECONDS=60
BOT_WINDOW_SLIDE_SECONDS=10
ANOMALY_WINDOW_SECONDS=60
ANOMALY_WINDOW_SLIDE_SECONDS=10
ANOMALY_BASELINE_LOOKBACK_SECONDS=300
FORECAST_BUCKET_SECONDS=60
FORECAST_HISTORY_SIZE=10
STREAM_USE_SPARK_WINDOWS=1

NATS_MEMORY_LIMIT=128m
CLICKHOUSE_MEMORY_LIMIT=768m
GRAFANA_MEMORY_LIMIT=384m
ML_API_MEMORY_LIMIT=256m
GENERATOR_MEMORY_LIMIT=256m
STREAM_MEMORY_LIMIT=768m
